div{
  padding: 30px;
  text-align: center;
  margin-bottom: 10px;
  color: #EEE;
}
.introduction {
  background-color: #548CA8;
}

.main-content {
  background-color: #44657c;
}

.contact-us {
  background-color: #334257;
}
p, 
ul {
    width: auto;
    height: auto;
    padding: auto;
    margin: 100px;
    border: 0.5px solid black;
}

span,
li {
  border: 3px solid blue;
}

ul {
  display: inline-block;
  list-style: none;
  padding: 2px;
} 

.inline {
  display: inline;
}