.unread,
.read {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', Times, serif;
}
.unread {
    background-color: black;
    color: white;
}

.read {
    background-color: yellow;
}

.avatar.pro {
    height: auto;
    width: 300;

}
.avatar.neg {
    height: 400px;
    width: 200px;
}