
  div {
    color: rgb(175, 201, 206);
      font-size: 32 px;
      text-align: center;
      font-weight: bold;
  }
  .alert-text {
    color: blue;
  }
#title1 {
  background-color: red;
  color: white;
  font-weight: sans-serif;
}
#title2 {
  color: blue;
  font-size: 36px;
  font-weight: verdana; 
}